<footer>
    <div class="footer-container">
        <div class="footer-top">
            <div class="footer-logo">
                <img src="DOKLY.svg" alt="">
            </div>
            <div class="footer-links">
                <h3>Enlaces</h3>
                <a href="#banner">Inicio</a>
                <a href="#howItWorks">Cómo funciona</a>
                <a href="#prices">Precios</a>
                <a href="#contact">Contacto</a>
            </div>
            <div class="footer-legal">
                <h3>Información Legal</h3>
                <a href="">Aviso Legal</a>
                <a href="">Política de privacidad</a>
                <a href="">Política de cookies</a>
                <a href="">Accesibilidad</a>
            </div>
            <div class="footer-contact">
                <h3>Contacto</h3>
                <div class="footer-contact-item">
                    <i class="fa-regular fa-envelope"></i>
                    <a href="mailto:hola@dokly.es">hola@dokly.es</a>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <p>© 2025 Dokly. Todos los derechos reservados.</p>
        </div>
    </div>
</footer>

<style>
    footer{
        display: flex;
        justify-content: center;
        background-color: #F9F9F9;
        padding: 40px 40px 0 40px;

        .footer-container{
            display: flex;
            flex-direction: column;
            justify-self: center;
            max-width: 1300px;
            width: 100%;

            .footer-top{
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                width: 100%;
                img{
                    width: 200px;
                };
                .footer-links, .footer-legal, .footer-contact{
                    display: flex;
                    flex-direction: column;
                    gap: 15px;
                    padding-bottom: 25px;
                    h3{
                        font-size: 1.3rem;
                        width: 100%;
                        text-align: left;
                        text-decoration: underline;
                    }
                    a{
                        width: 100%;
                        font-size: 1.2rem;
                        text-align: left;
                        text-decoration: none;
                        color: black;
                    }
                    a:hover{
                        transition: .3s;
                        text-decoration: underline;
                    }
                    i{
                        font-size: 15px;
                    }
                }
                .footer-contact-item{
                    display: flex;
                    flex-direction: row;
                    gap: 5px;
                    justify-content: center;
                    align-items: center;
                }

            }

            .footer-bottom>p{
                text-align: center;
            }
        }
    }

    	@media only screen and (max-width: 767px){
            .footer{
                max-width: 100vw !important;
                width: 100% !important;
                padding: 0;
                
            }
            .footer-container{
                display: flex;
                flex-direction: column !important;
                align-items: center !important;
                justify-content: center !important;
            }
            .footer-top{
                flex-direction: column !important;
                justify-content: center !important;
                align-items: center;
                width: 60% !important;
            }
            .footer-logo{
                display: flex;
                justify-content: center;
                padding-bottom: 40px;
            }
            .footer-links{
                display: none !important;
            }
            .footer-legal{
                width: 100%;
                gap: 10px !important;
            }
            .footer-legal>h3{
                margin: 0;
            }

            .footer-contact{
                width: 100%;
            }
            .footer-contact>h3{
                margin: 0;
                text-align: left;
            }

        }

</style>